<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

  <add key="WebServiceProvider" value="" />
  <add key="WebServiceBaseURI" value="" />
  <add key="IPSUsername" value="" />
  <add key="IPSPassword" value="" />
</appSettings>