obj/
.idea
node_modules
*.suo
*.csproj.user
*.user
*.sdf
*.opensdf
*.log
*/bin/**
*/Log/**
*/public/vendor
*/App_Data/**
*/Properties/PublishProfiles/**
*/AppSettings.*.config
*/ConnectionStrings.*.config
*/MachineKey.*.config
!*/App_Data/placeholder.txt
*/Web.*.config

# Ignore NuGet Packages
*.nupkg

# Ignore the packages folder
**/packages/*

# except build/, which is used as an MSBuild target.
!**/packages/build/

# Uncomment if necessary however generally it will be regenerated when needed
!**/packages/repositories.config

# Ignore public build folder (grunt uglify generates the files)
*/Public/build